/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Mantendo branco para texto claro */
  --background-primary-rgb: 8, 5, 10; /* Preto muito escuro */
  --background-secondary-rgb: 18, 12, 24; /* Cinza escuro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Mantendo branco no modo escuro */
    --background-primary-rgb: 8, 5, 10; /* Preto muito escuro para o modo escuro */
    --background-secondary-rgb: 18, 12, 24; /* Cinza escuro para o modo escuro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-primary-rgb));
}
